test/config.local.mk
tool/eeprom.bin
*.swp
test/*.o
test/work-*.cf
test/*tb
test/lan9254escrun
sw/*.o
sw/libecur.a
tool/__pycache__
tool/EtherCATBase.xsd
tool/EtherCATInfo.xsd
tool/*.sii
tool/*.xml
README.TODO
