test/config.local.mk
tool/eeprom.bin
*.swp
sw/*.o
test/*.o
test/work-*.cf
hdl/*tb
hdl/lan9254escrun
sw/ecurcli
sw/spiFlashRead
tool/__pycache__
tool/EtherCATBase.xsd
tool/EtherCATInfo.xsd
tool/*.sii
tool/*.xml
README.TODO
